aniso8601==7.0.0
gevent-websocket==0.10.1
graphene==2.1.9
graphene-sqlalchemy==2.3.0
graphql-core==2.3.2
graphql-relay==2.0.1
graphql-server-core==1.2.0
graphql-ws==0.4.4
greenlet==2.0.1
h11==0.14.0
idna==3.4
iniconfig==1.1.1
pluggy==1.0.0
promise==2.3
Rx==1.6.1
zope.event==4.5.0
zope.interface==5.5.2
git+https://github.com/dolevf/flask-sockets@master